div.Japan-comic-wrap div.Japan-comic-list{
    width: 1200px;
    height: 960px;
}
ul.japan-list-slider{
    width: auto;
    position: relative;
    ul.Japan-comic-content{
        width: 1280px;
        margin: 8px 0 0 -70px;
        li.comic-content-item{
            margin: 10px 0px 10px 70px;
        }
    }

}

div.bx-viewport{
    height: 100%;
}
